.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.columns
{ 
    display: flex;
    flex-direction: row;
}


.container{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left: 3.5rem;     
    height: 500px;
    margin-top: 3.5rem;
    width: 300px;
}

img
{
    margin-left: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container p {
padding-right: 8rem;  
font-size: 15px;
color: hsla(0, 0%, 100%, 0.75);
margin-bottom: 4rem;
text-align: center;
display: flex;
text-align: start;  
}
.innercontainer1, .innercontainer2 , .innercontainer3{
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 35px;
    width: 170px;
}

/*the hover part*/
/* first*/
.innercontainer1:hover h3{  
    color: white;
}
.innercontainer1:hover{
    background-color: hsl(31, 77%, 52%);
    border: solid 1.5px white;
}
.innercontainer1 h3{
    color:  hsl(31, 77%, 52%);
}
/* second*/
.innercontainer2:hover h3{  
    color: white;
}
.innercontainer2:hover{
    background-color:  hsl(184, 100%, 22%);
    border: solid 1.5px white;
}
.innercontainer2 h3{
    color:   hsl(184, 100%, 22%);
}
/*third*/
.innercontainer3:hover h3{  
    color: white;
}
.innercontainer3:hover{
    background-color:  hsl(179, 100%, 13%);;
    border: solid 1.5px white;
}
.innercontainer3 h3{
    color:    hsl(179, 100%, 13%);;
}








h3{
    text-align: center;
}
h1{
    color: white;
}

@media(max-width:1000px){
    .columns{
      display: flex;
      flex-direction: column;
    }
    .container{
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
    }
    .container p{
        font-size: 20px;
        margin-bottom: 0px;
    }
    }

    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



